<div th:replace="~{ backend/app :: layout ('后台首页', _, ~{::#main_content}, _) }" xmlns:th="http://www.thymeleaf.org">
    <div class="content-wrapper" id="main_content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div style=" display: flex; flex-direction: row;align-items: center; justify-content:space-between; background-color: #CDE9FE">
                <div>
                    <button style="border-style:none;">添加</button>
                </div>
                <div>
                    <input/>
                    <button style="border-style:none;"> 搜索</button>
                </div>
            </div>
            <section class="content-header">
                <table class="table table-hover" >
                    <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>课程类型</th>
                        <th>课程描述</th>
                        <th>点赞数</th>
                        <th>课程图片</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody th:each="course,stats:${coursesList}">
                    <tr   style="height: 100px;">
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.type}"></td>
                        <td th:text="${course.description}"></td>
                        <td th:text="${course.like}"></td>
                        <td ><img class="img-fluid shadow" width="100" height="50" th:src="'\\img\myimage\\' + ${course.image}" alt="coding"></td>
                        <td><input type="button" value="修改" style="border-style:none;"/>&nbsp;&nbsp;
                            <a class="btn btn-sm btn-danger" th:href="@{/coursesDelete/{id}(id=${course.id})}"
                               onclick="event.preventDefault(); if(confirm('确定删除吗?')){document.getElementById('destroy-form').submit();}">
                                删除
                                <form id="destroy-form" th:action="@{/coursesDelete/{id}(id=${course.id})}" method="post" style="display: none;">
                                </form>
                            </a></td>
                    </tr>
                    </tbody>

                </table>
            </section>
        </section>
    </div>
</div>
